.footer-container {
  background: rgb(57,57,57);
  background: linear-gradient(0deg, rgba(57,57,57,0.9668242296918768) 20%, rgba(0,0,0,0.6194852941176471) 100%);
  padding-block: 30px;
  text-align: center;
  height: 110px;
}

.link {
  color: #a7a7a7;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
}

.link:hover {
  color: #d5dfdf;
  transition: color 0.3s ease;
}

.icon {
  font-size: 24px;
  vertical-align: middle;
}

.copyright-text {
  color: #a7a7a7;
  font-size: 14px;
  margin-top: 10px;
}

  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      flex: none;
      margin-bottom: 15px;
      text-align: center;
    }
  
    .social-icons {
      justify-content: center;
    }
  }

  .footer-container {
    animation: fadeIn 1.5s ease-in-out;
  }

  @media (max-width: 480px) {
    .footer-container {
      text-align: center;
      flex-direction: column;
    }
  
    .footer-section {
      padding: 10px;
    }
  
    .social-icons {
      margin-top: 10px;
    }
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  